
  body {
    background-color:#E7F6F2;
  }
  hr {

    /* border-style: dotted none none none;
    height:0;
    width:10%;
    border-color:#AF7AB3;
    border-width: 5px; */
    }
    h1{
      color: #66BFBF;
    }
    h3{
      color: #66BFBF;
    }
